<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
    <style>
        #left{
            margin-left: 25%;
            margin-top: 15%;
            padding: 20px;
            background-color: rgb(161, 216, 216);
            width: 50%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
          h2{
            text-align: center;
          }
          
    </style>
</head>
<body>
    <div id="left">
        <h2>Total Complaints Recived: {{comp}}</h2>
        <h2>Total Accepted Complaints: {{accept}}</h2>
        <h2>Total Rejected Complaints : {{reject}}</h2>
    </div>
</body>
</html>